body
{
    background: rgb(227,13,53);background: linear-gradient(90deg, rgba(227,13,53,1) 22%, rgba(86,0,152,1) 100%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.centrado{
    border: 2px solid blueviolet;
}