@font-face {
    font-family: FuenteLeo;
    src: url(./recursos/font/after_disaster/After_Disaster.otf);
}

body
{
    background: rgb(227,13,53);background: linear-gradient(90deg, rgba(227,13,53,1) 22%, rgba(86,0,152,1) 100%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5em;
}

.fondoBlanco
{
    background-color: white;
}

.fondoAzul
{
    background-color: rgb(95, 95, 184);
}

.fondoNegro
{
    background-color: black;
    text-align: center;
    color: white;
}

.imagen
{
    width: 200px;

}

.texto1
{
    text-align: center;
    font-size: 3em;
    color:aquamarine;
}

.texto2
{
    font-size: 1em;
    color: white;
    text-align: left;
    font-family: 'FuenteLeo';
}

.separacion
{
    padding: 1em;
    background-color: brown;
}

.texto3
{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.borde
{
    border: 10px solid white;
    border-radius: 10px;
}

.bordeVerde
{
    border: 2px solid rgb(95, 95, 184);
    border-radius: 5px;    
}

.bordeAzul
{
    border: 2px solid brown;
    border-radius: 5px;
}

li
{
    margin-top: 10px;
}